#images{
    /* background-image: url(../../../public/assets/Banners/Ban.jpg); */
}

/* 
.container {
    width: 90%;
}

.slick-slide {
    height: 100%;
    width: 250px;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    border: 2.5px solid #fff;
    box-sizing: border-box;
} */


/* .custom-slick .slick-prev:before {
    content: "luqman";
    font-size: 22px;
    color:green;
    background-color: green
}
.custom-slick .slick-next:before {
    content: "ï”";
    font-size: 22px;
    color:green;
    background-color: green;
} */

/* .slick-next:before {
    content: ">";
    color: #000;
    padding: 5px;
    font-weight: 900;
    border: black;
    font-size: 60px;
    background-color:gray;
    border-radius:5px ;
    font-size: 30px;
    transform: rotate(90deg) !important;
  }

  .slick-prev::before {
    content: "<";
    color: #000;
    padding: 5px;
    font-weight: 1000;
    border: black;
    font-size: 60px;
    height: 100px; width: 40px;
    background-color:gray;
    border-radius:5px ;
    font-size: 30px;
    transform: rotate(180deg) !important;
  } */