@media screen and (max-width:1000px) {
    .DesktopNav{
        display: none;
    }
    .MobileNav{
        display: block;
    }
}
@media screen and (min-width:1000px) {
    .DesktopNav{
        display: block;
    }
    .MobileNav{
        display: none;
    }
}